[Desktop Entry]
Name=Let it snow!
Keywords=snow;christmas;newyear;2020
Comment=Snow taking over your desktop
Type=Service
Icon=../plasma/plasmoids/nl.robinkrens.plasma.letitsnow/contents/images/classic.png
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Robin Krens
X-KDE-PluginInfo-Email=robin@robinkrens.nl
X-KDE-PluginInfo-Name=nl.robinkrens.plasma.letitsnow
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=desktop

